<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="api-baseaddress" value="http://localhost:52613//"/>
    <add key="log-path" value="C:\\frs\\log"/>
    <add key="timer-interval" value="5"/>
    <!--in Minutes-->
  </appSettings>
</configuration>
